.main{
    background-image: url('/src/assets/bg-shadow.png');
    background-size: cover;
    
    background-position: center;
    background-repeat: no-repeat;
    height:50vh; /* Full viewport height */
    width: 100%;
}